@{
    var userProfileType = typeof(UserProfile);
    var properties = userProfileType.GetProperties();
}

<table class="table table-bordered table-striped">
    <thread class="thead-dark">
        <tr>
            <td>Property Name</td>
            <td>Property type</td>
        </tr>
    </thread>
    @foreach (var property in properties)
    {
        <tr>
            <td>@property.Name</td>
            <td>@property.PropertyType</td>
        </tr>
    }
</table>