@model DnD.UI.Controllers.HomeController.FightModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@Html.DisplayFor(model => model.Character)

<br>
@foreach (var str in Model!.Log.Split('\n'))
{
    <p style="background:#FFCCCC">@str</p>
    <br>
}
