@model DnD.UI.Controllers.HomeController.FightModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@Html.DisplayFor(model => model.Character)

<br>
@{
    var count = 0;
}
@foreach (var str in Model!.Log.Split('\n'))
{
    <p style="background:#FFCCCC">@(count++ + ") " + str)</p>
    <br>
}
